h1,
h2,
h3,
h4,
a,
strong {
	color: #fff;
	font-weight: 400;
}

label,
input,
button {
	cursor: pointer;
}

a {
	text-decoration: underline;
	text-decoration-color: #aaa;
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;
}

a:focus,
a:hover,
a:active {
	text-decoration: none;
}

/* Buttons */

.btn-primary {
	background-color: #ceff1a;
	color: #000;
}

.btn-primary:is(:focus, :hover, :active) {
	background-color: hsl(from #ceff1a h s calc(l - 7));
}

.btn-secondary {
	background-color: #333;
	color: #fff;
}

.btn-secondary:is(:focus, :hover, :active) {
	background-color: hsl(from #111 h s calc(l + 11));
}

/* Status */

.status.error {
	background: #7f1d1d;
	color: #fca5a5;
}

/* Misc */

p.mt-5 {
	font-size: 75%;
}

@media print {

	* {
		border-width: 0 !important;
		box-shadow: none !important;
		color: #000 !important;
	}

}